@font-face {
  font-family: "Hakgyoansim Siganpyo R";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimSiganpyoR/Hakgyoansim_SiganpyoR.woff2") format("woff2"),
      url("https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimSiganpyoR/Hakgyoansim_SiganpyoR.woff") format("woff"),
      url("https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimSiganpyoR/Hakgyoansim_SiganpyoR.otf") format("opentype"),
      url("https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimSiganpyoR/Hakgyoansim_SiganpyoR.ttf") format("truetype");
}